nav{
  padding-block: 1.25rem;
  display: flex;
  align-items: center;
  color: var(--text-color-secondary);
}

nav a {
  font: var(--paragraph-md);
}

nav a:hover, nav a:hover svg path{
  color: var(--brand-color);
  fill: var(--brand-color);
  cursor: pointer;
}

nav img{
  margin-right: auto;
}

nav a:last-child img{
  width: 40px;
  height: 40px;
}