main{
  background-color: var(--background-color);
}

main section img{
  width: 100%;
}

main section{
  padding-block: 1rem;
  gap: 1rem;
 
}

.pop-in{
  overflow: hidden;
  cursor: pointer;
}

.pop-in img{
  transition: all 0.3s ease-in-out; 
}

.pop-in img:hover{
  scale: 1.1;
  rotate: 5deg;
  transition: all 0.3s ease-in-out; 
  filter: grayscale(0.5);
}

@media(width >= 60em){

  main section{
    padding-block: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
}