.container{
  --max-width: 375px;
  width: min( var(--max-width), calc(100% - var(--px-lg) *2));
  margin-inline: auto;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.gap-0\.5{
  gap: .5rem;
}
.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.justify-start{
  justify-content: flex-start;
}

.itens-start{
  align-items: flex-start;
}
.justify-center{
  justify-content: center;
}

.itens-center{
  align-items: center;
}

.grid{
  display: grid;
}

.grid-cols{
  grid-auto-columns: 1fr;
}

.desktop-only{
display: none;
}

.px-xl{
  padding-inline: var(--px-xl);
}

.py-xl{
  padding-block: var(--py-xl);
}

@media (width >= 60em) {
  .container {
    --max-width: 69.75rem;
  }

  .desktop-only {
    display: initial;
  }

}

